build/bin/log/
build/python3/__pycache__/
edge_config.json
kernel/linux-5.10/.gitignore
out/
rootfs/
rootfs_toybrick_v1.1.0_20240115.tar.gz
tools/RKDevTool_Release/config.cfg
uboot/.gitignore
uboot/arch/arm/dts/rk3036-sdk.dtb
uboot/arch/arm/dts/rk3066a-mk808.dtb
uboot/arch/arm/dts/rk3126-evb.dtb
uboot/arch/arm/dts/rk3128-evb.dtb
uboot/arch/arm/dts/rk3188-radxarock.dtb
uboot/arch/arm/dts/rk3288-evb.dtb
uboot/arch/arm/dts/rk3288-fennec.dtb
uboot/arch/arm/dts/rk3288-firefly.dtb
uboot/arch/arm/dts/rk3288-miqi.dtb
uboot/arch/arm/dts/rk3288-phycore-rdk.dtb
uboot/arch/arm/dts/rk3288-popmetal.dtb
uboot/arch/arm/dts/rk3288-rock2-square.dtb
uboot/arch/arm/dts/rk3288-tinker.dtb
uboot/arch/arm/dts/rk3288-veyron-jerry.dtb
uboot/arch/arm/dts/rk3288-veyron-mickey.dtb
uboot/arch/arm/dts/rk3288-veyron-minnie.dtb
uboot/arch/arm/dts/rk3288-vyasa.dtb
uboot/arch/arm/dts/rk3308-evb.dtb
uboot/arch/arm/dts/rk3328-evb.dtb
uboot/arch/arm/dts/rk3368-geekbox.dtb
uboot/arch/arm/dts/rk3368-lion.dtb
uboot/arch/arm/dts/rk3368-px5-evb.dtb
uboot/arch/arm/dts/rk3368-sheep.dtb
uboot/arch/arm/dts/rk3399-evb.dtb
uboot/arch/arm/dts/rk3399-firefly.dtb
uboot/arch/arm/dts/rk3399-puma-ddr1333.dtb
uboot/arch/arm/dts/rk3399-puma-ddr1600.dtb
uboot/arch/arm/dts/rk3399-puma-ddr1866.dtb
uboot/arch/arm/dts/rk3588-evb.dtb
uboot/arch/arm/dts/rv1108-evb.dtb
uboot/arch/arm/include/asm/arch
uboot/dts/dt-spl.dtb
uboot/dts/dt-tpl.dtb
uboot/dts/dt.dtb
uboot/examples/standalone/hello_world
uboot/examples/standalone/hello_world.srec
uboot/examples/standalone/rkspi
uboot/examples/standalone/rkspi.srec
uboot/include/autoconf.mk
uboot/include/autoconf.mk.dep
uboot/include/config.h
uboot/scripts/basic/fixdep
uboot/scripts/dtc/dtc
uboot/scripts/dtc/dtc-lexer.lex.c
uboot/scripts/dtc/dtc-parser.tab.c
uboot/scripts/dtc/dtc-parser.tab.h
uboot/scripts/kconfig/conf
uboot/scripts/kconfig/zconf.hash.c
uboot/scripts/kconfig/zconf.lex.c
uboot/scripts/kconfig/zconf.tab.c
uboot/tools/bmp2gray16
uboot/tools/common/
uboot/tools/dumpimage
uboot/tools/fdtgrep
uboot/tools/gen_eth_addr
uboot/tools/gen_ethaddr_crc
uboot/tools/lib/
uboot/tools/mkenvimage
uboot/tools/mkimage
uboot/tools/proftool
uboot/tools/relocate-rela
uboot/tools/resource_tool
uboot/bl31_0x00040000.bin.digest
uboot/bl31_0x00040000.bin.gz
uboot/tee.bin.digest
uboot/tee.bin.gz
kernel/linux-5.10/arch/arm/vdso/vdsomunge
kernel/linux-5.10/arch/arm64/boot/Image
kernel/linux-5.10/arch/arm64/crypto/sha256-core.S
kernel/linux-5.10/arch/arm64/kernel/vdso32/vdso.so.raw
kernel/linux-5.10/boot_linux/
kernel/linux-5.10/certs/x509_certificate_list
kernel/linux-5.10/drivers/gpu/arm/mali400/mali/__malidrv_build_info.c
kernel/linux-5.10/drivers/scsi/scsi_devinfo_tbl.c
kernel/linux-5.10/drivers/tty/vt/conmakehash
kernel/linux-5.10/drivers/tty/vt/consolemap_deftbl.c
kernel/linux-5.10/drivers/tty/vt/defkeymap.c
kernel/linux-5.10/fs/unicode/utf8data.h
kernel/linux-5.10/kernel/config_data
kernel/linux-5.10/lib/crc32table.h
kernel/linux-5.10/lib/gen_crc32table
kernel/linux-5.10/lib/oid_registry_data.c
kernel/linux-5.10/net/wireless/shipped-certs.c
kernel/linux-5.10/scripts/asn1_compiler
kernel/linux-5.10/scripts/basic/fixdep
kernel/linux-5.10/scripts/dtc/dtc
kernel/linux-5.10/scripts/extract-cert
kernel/linux-5.10/scripts/kallsyms
kernel/linux-5.10/scripts/kconfig/conf
kernel/linux-5.10/scripts/mod/devicetable-offsets.h
kernel/linux-5.10/scripts/mod/elfconfig.h
kernel/linux-5.10/scripts/mod/mk_elfconfig
kernel/linux-5.10/scripts/mod/modpost
kernel/linux-5.10/scripts/resource_tool
kernel/linux-5.10/scripts/sorttable
kernel/linux-5.10/usr/gen_init_cpio
kernel/linux-5.10/usr/initramfs_data.cpio
kernel/linux-5.10/usr/initramfs_inc_data
