CONFIG_BCMDHD_SDIO=y
# CONFIG_BCMDHD_PCIE is not set
CONFIG_RELAY=y
# CONFIG_XFS_FS is not set
# CONFIG_FUSE_FS is not set
# CONFIG_ISO9660_FS is not set
# CONFIG_JOLIET is not set
# CONFIG_ZISOFS is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_UBIFS_FS_ADVANCED_COMPR is not set
# CONFIG_SQUASHFS is not set
CONFIG_CRYPTO_ZSTD=y
CONFIG_LIBCRC32C=y
CONFIG_DEBUG_FS=y
CONFIG_STACKTRACE=y
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_FTRACE is not set
CONFIG_CHARGER_SC888X=y
# CONFIG_VIDEO_OV50C40 is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX is not set
# CONFIG_VIDEO_IMX258 is not set
