CONFIG_BCMDHD_SDIO=y
# CONFIG_BCMDHD_PCIE is not set
CONFIG_RELAY=y
# CONFIG_XFS_FS is not set
# CONFIG_FUSE_FS is not set
# CONFIG_ISO9660_FS is not set
# CONFIG_JOLIET is not set
# CONFIG_ZISOFS is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_UBIFS_FS_ADVANCED_COMPR is not set
# CONFIG_SQUASHFS is not set
CONFIG_CRYPTO_ZSTD=y
CONFIG_LIBCRC32C=y
CONFIG_DEBUG_FS=y
CONFIG_STACKTRACE=y
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_FTRACE is not set
CONFIG_CHARGER_SC888X=y
# CONFIG_VIDEO_OV50C40 is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX is not set
# CONFIG_VIDEO_IMX258 is not set
# CONFIG_ARM64_LSE_ATOMICS is not set
# CONFIG_ARM64_USE_LSE_ATOMICS is not set
# CONFIG_JUMP_LABEL is not set
# CONFIG_AS_IS_LLVM is not set
# CONFIG_DTC_SYMBOLS is not set
# CONFIG_SPI_ROCKCHIP_SLAVE is not set
# CONFIG_GPIO_SYSCON is not set
# CONFIG_MFD_RKX110_X120 is not set
# CONFIG_ROCKCHIP_SERDES_DRM_PANEL is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX_CLASS is not set
# CONFIG_SND_SOC_ROCKCHIP_DLP is not set
# CONFIG_SND_SOC_ROCKCHIP_DLP_PCM is not set
# CONFIG_SND_SOC_ROCKCHIP_MULTI_DAIS is not set
# CONFIG_RAS is not
# CONFIG_EDAC is not set
# CONFIG_EDAC_LEGACY_SYSFS is not set
# CONFIG_EDAC_ROCKCHIP is not set
# CONFIG_RCU_EXPERT is not set
# CONFIG_RCU_FANOUT is not set
# CONFIG_RCU_FANOUT_LEAF is not set
# CONFIG_RCU_FAST_NO_HZ is not set
# CONFIG_RCU_NOCB_CPU is not set
