CONFIG_XEN_DOM0=y
CONFIG_XEN=y

CONFIG_XEN_BLKDEV_BACKEND=y
# CONFIG_XEN_BLKDEV_FRONTEND is not set

CONFIG_XEN_NETDEV_BACKEND=y
# CONFIG_XEN_NETDEV_FRONTEND is not set

# CONFIG_XEN_PVCALLS_FRONTEND is not set
CONFIG_XEN_PVCALLS_BACKEND=y

CONFIG_ROCKCHIP_AMP=y

CONFIG_BRIDGE=y

CONFIG_BLK_DEV_DM=y

CONFIG_DAX=y
